<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Доставка цветов и букетов Челябинск | Ирис Кис Кис</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="description" content="Доставка свежих цветов и букетов в Челябинске">
	<meta name="keywords" content="цветы Челябинск, букеты с доставкой Челябинск, доставка цветов Челябинск">
	<link rel="stylesheet" href="css/reset.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/flexboxgrid.css">
	<link rel="stylesheet" href="fonts/bebas.css">
	<link href="https://fonts.googleapis.com/css?family=Lobster|PT+Sans" rel="stylesheet">
	<style>
		[v-cloak] {
			display: none;
		}
	</style>
</head>

<body>
	<div id="app">
		<header class="header wave">
			<div class="header__content container">
				<div class="row center-xs middle-xs">
					<div class="col-xs-12 col-md-4">
						<h3 class="header__text header__text_title">Интернет магазин букетов</h3>
						<p class="header__text">с доставкой по Челябинску</p>
					</div>
					<div class="col-xs-12 col-md-3">
						<div class="header__logo">
							<a href="index.html">
								<img alt="Ирис Кис Кис" src="img/logo.png">
							</a>
						</div>
					</div>
					<div class="col-xs-12 col-md-4 col-md-offset-1">
						<div class="header__phone_wrapper">
							<h3 class="header__phone">+7 (351) 253-67-52</h3>
							<p class="header__phone header__phone_text">Звоните! 9:00 до 21:00 (без выходных)</p>
						</div>
					</div>
				</div>
			</div>
		</header>
		<section class="spotlight" v-if="isFetched" :style="'background-image:url(https://api.iriska.net/'+banner.banner.path+')'">
			<div class="spotlight__content container">
				<div class="row start-sm center-xs">
					<div class="col-xs-12">
						<h2 class="spotlight__title">{{banner.title}}</h1>
							<h2 v-if="banner.subtitle">{{banner.subtitle}}</h2>
							<button @click="openPopup(banner.title)" class="button button_big">Заказать</button>
							<p class="spotlight__remark" v-if="banner.remark">{{banner.remark}}</p>
					</div>
				</div>
			</div>
		</section>
		<section class="products">
			<div class="row center-xs">
				<a href="#bouquet_small" class="products__category">Букеты из 25 роз</a>
				<a href="#bouquet_medium" class="products__category">Букеты из 51 розы</a>
				<a href="#boxed_flowers" class="products__category">Цветы в коробке</a>
				<a href="#iriska_specials" class="products__category">Букеты от Ириски</a>
			</div>
			<hr class="divider">
			<div class="showcase showcase_boxed showcase_dotted" id="bouquet_small">
				<h2 class="title title_ribbon">Букеты из 25 роз</h2>
				<div class="row around-xs">
					<div v-for="card in rosesMedium" class="col-xs-12 col-sm-6 col-lg-3">
						<card v-bind="{card, openPopup}" />
					</div>
				</div>
			</div>
			<div class="palette">
				<div class="row center-xs middle-xs">
					<div class="col-xs-12 col-lg-4">
						<div class="palette__text">Расцветки роз</div>
					</div>
					<div class="col-xs-12 col-lg-6">
						<div class="row center-xs around-xs">
							<div class="palette__sample palette__sample_white"></div>
							<div class="palette__sample palette__sample_red"></div>
							<div class="palette__sample palette__sample_orange"></div>
							<div class="palette__sample palette__sample_pink"></div>
							<div class="palette__sample palette__sample_yellow"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="showcase showcase_boxed showcase_scottish" id="bouquet_medium">
				<h2 class="title title_ribbon">Букеты из 51 розы</h2>
				<div class="row">
					<div v-for="card in rosesLarge" class="col-xs-12 col-sm-6 col-lg-3">
						<card v-bind="{card, openPopup}" />
					</div>
				</div>
			</div>
			<hr class="divider">
			<div class="showcase showcase__box" id="boxed_flowers">
				<h2 class="title title_plaque">Цветы в коробке</h2>
				<div class="row">
					<div v-for="card in flowersSingle" class="col-xs-12 col-sm-6 col-lg-3">
						<card v-bind="{card, openPopup}" />
					</div>
				</div>
			</div>
			<hr class="divider">
			<div class="showcase showcase__basket">
				<h2 class="title title_plaque">Цветы в корзине</h2>
				<div class="row">
					<div v-for="card in flowersBox" class="col-xs-12 col-sm-6 col-lg-3">
						<card v-bind="{card, openPopup}" />
					</div>
				</div>
			</div>
			<hr class="divider">
			<div class="showcase showcase__iriska" id="iriska_specials">
				<h2 class="title title_plaque">Букеты от Ириски</h2>
				<div class="row">
					<div v-for="card in flowersBasket" class="col-xs-12 col-sm-6 col-lg-3">
						<card v-bind="{card, openPopup}" />
					</div>
				</div>
			</div>
			<hr class="divider">
			<div class="showcase showcase_boxed showcase_striped">
				<h2 class="title title_ribbon">Цветы штучно</h2>
				<div class="row">
					<div v-for="card in flowersIriska" class="col-xs-12 col-sm-6 col-lg-3">
						<card v-bind="{card, openPopup}" />
					</div>
				</div>
			</div>
			<div class="row start-xs">
				<div class="col-xs-10 col-xs-offset-1">
					<div class="about">
						<h2 class="about__title">Доставка цветов и букетов в Челябинске</h2>
						<br>
						<p>Разнообразный и богатый опыт новая модель организационной деятельности представляет собой интересный эксперимент проверки
							дальнейших направлений развития. Разнообразный и богатый опыт консультация с широким активом позволяет оценить значение
							систем массового участия. С другой стороны укрепление и развитие структуры требуют определения и уточнения позиций,
							занимаемых участниками в отношении поставленных задач. Разнообразный и богатый опыт консультация с широким активом
							представляет собой интересный эксперимент проверки направлений прогрессивного развития. С другой стороны начало повседневной
							работы по формированию позиции требуют определения и уточнения дальнейших направлений развития. Равным образом рамки
							и место обучения кадров в значительной степени обуславливает создание модели развития.</p>
						<br>
						<p>Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции в значительной степени
							обуславливает создание направлений прогрессивного развития. Повседневная практика показывает, что постоянное информационно-пропагандистское
							обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании соответствующий условий
							активизации. Не следует, однако забывать, что постоянное информационно-пропагандистское обеспечение нашей деятельности
							позволяет выполнять важные задания по разработке форм развития.</p>
						<br>
						<p>Задача организации, в особенности же дальнейшее развитие различных форм деятельности позволяет оценить значение соответствующий
							условий активизации. Равным образом новая модель организационной деятельности требуют определения и уточнения позиций,
							занимаемых участниками в отношении поставленных задач. Не следует, однако забывать, что новая модель организационной
							деятельности требуют от нас.</p>
					</div>
				</div>
			</div>
			<div class="row center-xs">
				<h2 class="about__location">Как нас найти?</h1>
			</div>
		</section>
		<section class="map">
			<div class="contacts">
				<h2 class="contacts__title">Ирис Кис Кис</h2>
				<p>Челябинск, Копейское ш., д.48д</p>
				<p>+7(351) 253-67-52</p>
				<p>sale@iriska.net</p>
			</div>
			<div id="gmap"></div>
		</section>
		<footer class="footer">
			<div class="footer__content container">
				<div class="row center-xs start-md">
					<div class="col-xs-12 col-sm-5 col-sm-offset-1">
						<h1>Цветы и букеты с доставкой в Челябинске</h1>
						<a href="index.html">
							<img class="footer__logo" src="img/logo.png" alt="Ирис Кис Кис">
						</a>
					</div>
					<div class="col-xs-12 col-sm-5">
						<div class="footer__social">
							<div id="vk_groups"></div>
						</div>
					</div>
				</div>
				<div class="footer__info">
					<div class="row center-xs middle-xs">
						<img src="img/paykeeper.png" width="80px" alt="Принимаем к оплате">
						<img src="img/visa-master.png" width="100px" alt="Принимаем к оплате">
						<a class="footer__link" href="delivery.html">Доставка и условия возврата</a> |
						<a class="footer__link" href="corporate.html">Корпоративным клиентам</a> |
						<a class="footer__link" href="order.html">Оплатить заказ</a>
					</div>
				</div>
			</div>
			<div class="copyright">
				<div class="copyright__content container">
					<div class="row center-xs between-xs">
						<div class="col-xs-3">
							Копирайт 2018
						</div>
						<div class="col-xs-9">
							Интернет магазин доставки цветов в Челябинске “Ириска”
						</div>
					</div>
				</div>
			</div>
		</footer>
		<div @click="closePopup" v-if="isPopupOpen" id="myOrder" class="order" v-cloak>
			<div @click.stop class="order__content">
				<div class="order__header">
					<button @click="closePopup" class="order__close">
						<svg class="order__icon" viewbox="0 0 40 40">
							<path class="close-x" d="M 10,10 L 30,30 M 30,10 L 10,30" />
						</svg>
					</button>
					<h2>Заказать звонок</h2>
				</div>
				<div class="order__body">
					<privacy-form :form="contact_us" :title="orderTitle" />
				</div>
			</div>
		</div>
	</div>
	<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkBKShwFI4hODSIGn9krIkENd5u5YoTOI&language=ru&region=RU&callback=initMap"></script>
	<script src="js/init-map.js"></script>
	<script defer src="https://vk.com/js/api/openapi.js?151"></script>
	<script defer src="js/init-vk.js"></script>
	<script src="js/vue-form-generator.js"></script>
	<script src="js/vue.js"></script>
	<script src="js/privacy-form.js"></script>
	<script src="js/app.js"></script>
</body>

</html>